@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.swiper {
    width: 100%;
    height: 100%;
    z-index: 0;
}

@layer base {
    body {
        @apply h-full w-full overflow-x-hidden bg-white-background;
    }

    .flex-center {
        @apply flex justify-center items-center
    }

    .flex-between {
        @apply flex justify-between items-center
    }
}
